.landing__container {
    background-color: #0d0b24;
    width: 85vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 64px 0px 0px 24px;
    width: 90%;
}
.category__wrapper {
    padding-bottom: 12px;
}
.top__sold--image {
    width: 75px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.statisics__wrapper h1 {
    font-size: 36px;
}
.statisics__wrapper h2 {
    font-size: 24px;
}
.statisics__wrapper p, .statisics__wrapper span {
    font-size: 22px;
    color: rgba(7, 241, 7, 0.658);
}
.sold__container, .orders__row {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px 0 24px;
}

@media (max-width: 756px) {
    .landing__container {
        width: 100vw;
        padding: 0;
    }


}