.landing__container {
    background-color: #0d0b24;
    width: 85vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;    
    padding-left: 3%;
    width: 90%;

    
}