
.flowers {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 2px solid lightgrey;
    width: 80%;
    margin-top: 16px;
}
.flower__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.loading {
    color: #fff;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
}
.flower__title {
    padding-bottom: 32px;
}
.x__image {
    cursor: pointer;
}
.x {
    position: absolute;
    color: red;
    top: 0;
    left: 0;
    font-weight: bold;
    cursor: pointer;
    padding-left: 6px;
    font-size: 16px;
}
.x:hover {
    color: rgba(0, 255, 0, 0.712);
}
.flower__image {
    width: 125px;
    max-height: 140px;
    padding: 2px;
}
.image__box {    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid lightgrey;
    border-radius: 4px;       
    background-color: #fcfcfc11;
}
.edit__image--array {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.flower__display {    
    font-size: 22px;
}
.info__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.flower__title {
    text-align: center;
    color: rgba(0, 255, 0, 0.712);
    font-size: 52px;
}
.flower__desc { 
    font-size: 18px;
    width: 95%;
}
.remove__button {
    background-color: rgba(0, 255, 0, 0.712);
    padding: 6px 12px;
    color: white;
    align-items: end;
    border-radius: 8px;
    margin: 6px;
}
.button__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.number__container {
    display: flex;
    width: 100%;
}
.remove__button:hover {
    background-color: white;
    color: rgba(0, 255, 0, 0.712);
}
.update__input {
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin: 6px 0;
}
.update__input:focus {
    border: none;
}
.flower__text {
    display: flex;
    flex-direction: column;
}
.number__input {
    width: 50px;
    text-align: center;
    margin: 12px;
}
.update__text {
    width: 100%;
    height: 150px;
    background-color: transparent;
    color: white;
}
.right__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category {
    font-size: 18px;
}
.category__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .flower__image {
        width: 75px;
        max-height: 60px;
    }
    .image__box {
        width: 85px;
        height: 85px;
    }
    .flower__title {
        font-size: 24px;
    }
    .info__wrapper {
        flex-direction: column;
        gap: 12px;
        justify-content: start;
        align-items: start;
    }
    .remove__button {
        padding: 3px 6px;
        gap: 12px;
    }
    .flowers {
        width: 95%;
        padding: 8px;
    }
}