.orders__info p {
    color: white;
    font-size: 22px;
}

.order__text {
    color: white;
    font-size: 28px;
}
.orders__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;
}
.orders__info {
    gap: 24px;
    padding: 12px;
    width: 70vw;
    display: flex;
    border: 2px solid lightgreen;
}