
.flowers {
    display: flex;
    flex-direction: column;
    padding: 32px 0px 32px 24px;
    border: 2px solid lightgrey;
    width: 80%;
    margin-top: 16px;
}
.loading {
    color: #fff;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
}
.flower__title {
    padding-bottom: 32px;
}
.x__image {
    cursor: pointer;
}
.image__wrapper {
    display: flex;
    position: relative;
}
.x {
    position: absolute;
    color: red;
    cursor: pointer;
}
.flower__image {
    width: 150px;
    max-height: 150px;
    border: 1px solid lightgrey;
    
}
.edit__image--array {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.flower__display {
    
    font-size: 22px;
}
.info__wrapper {
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.flower__title {
    text-align: center;
    color: rgba(0, 255, 0, 0.712);
    font-size: 52px;
}
.flower__desc { 
    font-size: 18px;
    width: 95%;
}
.remove__button {
    background-color: rgba(0, 255, 0, 0.712);
    padding: 6px 12px;
    color: white;
    width: 75px;
    height: 50px;
    align-items: end;
    border-radius: 8px;
    margin: 6px;
}
.button__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.number__container {
    display: flex;
    width: 100%;
}
.remove__button:hover {
    background-color: white;
    color: rgba(0, 255, 0, 0.712);
}
.update__input {
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin: 6px 0;
}
.update__input:focus {
    border: none;
}
.flower__text {
    display: flex;
    flex-direction: column;
}
.number__input {
    width: 50px;
    text-align: center;
    margin: 12px;
}
.update__text {
    width: 100%;
    height: 150px;
    background-color: transparent;
    color: white;
}
.right__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}