.orders__header {
    display: flex;
    border: 2px solid rgb(150, 150, 150);
    gap: 32px;
    max-width: 900px;
    justify-content: space-around;
}
.orders__list {
    border: 2px solid rgb(150, 150, 150);    
    max-width: 900px;
}
.order__item {
    display: grid;
    grid-template-columns: 300px 200px 150px 150px .5fr;
    gap: 12px;
    padding-top: 12px;
}
.order__item b, .orders__header b {
    color: white;
}
.orders__header {
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.shipping__wrapper {
    display: flex;
}
.payment__status {
    font-size: 22px;
    margin-bottom: 12px;
}
.order__firstline {
    display: flex;
    gap: 48px;
}
.order__secondline {
    display: flex;
    gap: 48px;
}
.customer__info {
    padding-top: 32px;
}
.order__shipping {
    width: 50%;
    justify-content: space-between;
    margin-bottom: 12px;
}
.ship__button {
   background-color: rgba(0, 255, 0, 0.712);
   color: white;
   font-size: 18px;
   padding: 12px 8px;
   height: 20%;
   cursor: pointer;
   
}
.ship__button:hover {
    color: rgba(0, 255, 0, 0.712);
    background-color: white;
}