.sb__container {
    background-image: url(
"https://cdn11.bigcommerce.com/s-qsp8zkqq0s/images/stencil/original/image-manager/aaa-weed-kitta-long.jpg?t=1720920697"
    );
    background-size: cover;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    position: fixed;  
    padding-left: 18px;

}
.sb__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.568);
}
.sb__links {
    position: relative;
    z-index: 2;
    display: flex;    
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: bold;
    gap: 90px;
    justify-content: center;
    width: 100%;
}
.sb__link:hover {
    color: rgba(7, 241, 7, 0.658);
}
.sb__link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.thca {
    position: relative;
    z-index: 2;
    border: 15px solid white;
    width: 10vw;
}
.active {
    background-color: rgba(7, 241, 7, 0.658);
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-right: none;
    align-self: flex-end;
    cursor: not-allowed;
    box-shadow: -1px 3px 10px rgba(2, 110, 2, 0.6);
    display: flex;
    align-items: center;
    gap: 2px;
    
}
@media (max-width: 956px) {
    .sb__container {
        padding-left: 12px;
    }
    .sb__links {
        font-size: 14px;
    }    
}
@media (max-width: 756px) {
    .sb__container {
        display: none;
    }

}