.components {
    display: flex;
  }
  .shadoww {
    text-shadow:
    0px -1px 0 #fff,  
     1px 0px 0 #fff,
     0px 0px 0 #fff,
      0px 1px 0 #fff;
  }
  .split {
    display: flex;
  }
  .filler {
    width: 15vw;
    height: 85vh;
    display: flex;
    padding-left: 25px;
  }
  .main {
    display: flex;
    width: 100%;
  }
  .page__wrappers {  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
  }
  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% { 
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
  }